config vsftpd 'vsftpd'
	option enable4 '1'
	option listen_addr4 '0.0.0.0'
	option enable6 '0'
	option listen_addr6 '::1'
	option listen_port '21'
	option ftp_data_port '20'
	option banner 'Welcome to vsftpd FTP service.'
	option write_enable '1'
	option download_enable '1'
	option force_dot_files '0'
	option local_umask '022'
	option dirlist_enable '1'
	option dirmessage_enable '0'
	option message_file '.message'
	option port_enable '1'
	option pasv_enable '1'
	option ascii 'both'
	option idle_session_timeout '1800'
	option connect_timeout '120'
	option data_connection_timeout '120'
	option max_clients '0'
	option max_per_ip '0'
	option local_max_rate '0'
	option max_login_fails '3'
	option syslog_enable '0'
	option xferlog_enable '1'
	option vsftpd_log_file '/var/log/vsftpd.log'
	option vuser_enable '1'
	option guest_username 'ftp'
	option local_enable '1'
	option local_root '/opt/ftp'
	option anon_enable '0'
	option anon_username 'ftp'
	option anon_usergroup 'ftp'
	option anon_userhome '/home/ftp'
	option anon_root '/opt/ftp'
	option anon_umask '022'
	option anon_mkdir_write_enable '0'
	option anon_upload_enable '0'
	option anon_other_write_enable '0'
	option anon_max_rate '0'

config user
	option enable '1'
	option name 'ftp1'
	option pwd '123'
	option home '/opt/ftp/ftp1'
	option umask '022'
	option maxrate '0'
	option write '1'
	option upload '1'
	option others '1'
	option owner 'ftp'

config user
	option enable '1'
	option name 'ftp2'
	option pwd '456'
	option home '/opt/ftp/ftp2'
	option umask '022'
	option maxrate '0'
	option write '1'
	option upload '1'
	option others '1'
	option owner 'ftp'

config user
	option enable '0'
	option name 'ftp3'
	option pwd '789'
	option home '/opt/ftp/ftp3'
	option umask '022'
	option maxrate '0'
	option write '1'
	option upload '1'
	option others '1'
	option owner 'ftp'
